<!DOCTYPE html>
html(lang="en")
head
	link(rel="stylesheet", href="../css/style.css")
	meta(charset="UTF-8")
	title BlackJack
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
body
	header 
		ul
			li About
			li Contact
	section.gamespace
		h1 BlackJack
		.startScreen
			.instructions
				h2 Instructions:
				p The goal of the game is to reach 21 without going over. 
				p Press "hit me" To deal another card.
				p If you don't want to deal any more cards, press "Fold" to see who won!
				p If you don't like your hand, press reset

			a(href="#" class="start") Get Started!
		.gameResultPage.hide

		.activeGameSpace.hide
			.scoreBoard.clearfix
				p Your Score: 	
				p.playerScore
				p Dealers Hand 
				p.dealerHand resr

			ul.gameOptions
				li: a(href="#" class= "hitme") hit me
				li: a(href="#" class= "reset") reset
				li: a(href="#" class= "fold") fold
			.playerHand

	script(src="../scripts/script.js")
