<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title BlackJack
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
body
	header 
		ul
			li About
			li Contact
	section.gamespace		
	a(href="#" class= "hitme") hit me
	a(href="#" class= "reset") reset
	script(src="../scripts/script.js")